.myHead {
    height: 70px;
    color: #fff;
    background-color:#0066FF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
    .headRight {
      img {
        width: 20px;
        margin-right: 3px;
      }
    }
  }