.myHead {
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .headLeft {
      font-size: 30px;
      font-weight: bolder;
    }
    .headRight {
      img {
        width: 20px;
        margin-right: 3px;
      }
    }
  }