 
@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-size: 1em;
  background-color: $gray;
  color: $text-color;
 
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.myContent {
  padding: 20px;
  .myTitle {
    font-size: 20px;
    font-weight: bolder;
    
    
  }
  .arow {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .cardOne {
    width: 28%;
    border: none;
    .cardTitle {
      font-size: 15px;
      font-weight: bolder;
      padding: 15px 0;
    }
    .addBtn {
      font-size: 10px;
      width: 70%;
      padding: 2px 5px;
      float: left;
    }
    .money {
      font-size: 13px;
      font-weight: bolder;
      width: 50%;
      float: left;
    }
    .myBottom {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
    }
  }

}
